.bodyBanner > section > h2 {font-size:40px;font-weight: bolder;}
.bodyBanner > section > div {margin-bottom:4.5em;}
.bodyBanner > section > div > h1{margin:1em auto; font-size:46px;}
.bodyBanner > section > div > h2{margin:1em auto; font-size:40px;}
.bodyBanner > section > div > h3{margin:1em auto; font-size:36px; font-weight: bolder; }
.bodyBanner > section > div > h4{margin:1em auto; font-size:26px; font-weight: bolder; color: #d1d1d1;}
.bodyBanner > section > div > h5{margin:1em auto; font-size:24px;}
.bodyBanner > section > div > h6{margin:1em auto; font-size:20px;}
.bodyBanner > section > div > p {margin:1em auto; font-size:16px;}
.bodyBanner > section > div > ul{margin:1em auto; list-style-type: circle;}

.profileInfoBanner > h2 {font-size:26px;font-weight:bolder}
.profileInfoBanner > h3 {font-size:20px;}
.profileInfoBanner > h3 > a{color:#cecece; font-size:20px;}
.profileInfoBanner > h3 > a:hover{ color:#69c3f7;}

.profileIndex > ul > li > a{color:#cecece;}
.profileIndex > ul > li > a:hover{color:#69c3f7;}

.bodyBanner > section > div > ul > li > a{color:#cecece;}
.bodyBanner > section > div > ul > li > a:hover{color:#69c3f7;}

.bodyBanner > section > div > p > a{color:#6cdcf8; text-decoration: underline;}
.bodyBanner > section > div > p > a:hover{color:#40b3f5;}

#ultra-super-mega-long-muchotexto-paragraph{
    margin: 1em 2em;
    font-size: 18px;
    line-height: 1.5em;
}
#ultra-super-mega-long-muchotexto-paragraph>p{
    margin-bottom: 1.5em;
}
#muchoTexto{
    display:none;
    width: 50%;
    margin: 2em auto;
    
}

.container{
    width: 100%; 
    margin: 0;
    padding: 0;
    background-color: #00123d;
    color: white;
    display: flex;
    font-family: 'Maven Pro', sans-serif;
}

.sideBar{
    display: flex;
    flex-flow: column;
    /*width: 80%;*/
    padding: 0px;
    background-color: #091c49;
}

.profileImageBanner{
    width: 100%;
    text-align: center;
    padding: 2em 0em;
}

.profileImageBanner>img{
    border-radius: 50%;
    width: 80%;
}

.profileInfoBanner{
    padding: 2em 1em 2em 1em;
}

.strongFont{

}

.weakFont{

}

.mediumFont{

}

.profileIndex{
    padding: 2em 1em 2em 1em;
}
.profileIndex>ul{

}
.profileIndex>ul>li{
    margin-bottom:1em;
}

.profileSkills{
    width: 90%;
    margin: 0 auto;
}

.profileSkills>div{
    margin-bottom: 3em;
}

.profileSkills>div>h1{
    margin-bottom: 1em;
    margin-left: 1em;
}

.bodyBanner{

}



.headerBanner{

}

.imageBanner{
    text-align: center;
    padding-top:1em;
    padding-bottom:1em;
}

.imageBanner>img{
    width:100%;
    max-width: 500px;
}

.tittleBanner{

}
.tittleBanner h1{
    font-size:46px;
    font-weight: bolder;
}

.tittleBanner > h2{
    text-align: center;
    font-weight: bolder;
    font-size:48px;
}

.content-box{

}



.barritas {
    width: 100%;
    background-color: #ddd;
    margin-bottom: 1em;
    border-radius: 10px;
}
  
.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border-radius: 10px 0px 0px 10px;
}
  
.html {width: 90%; background-color: #04AA6D;}
.css {width: 60%; background-color: #2196F3;}
.bootstrap {width: 60%; background-color: #a4db5c;}
.js {width: 65%; background-color: #f44336;}
.jQuery{width: 50%; background-color: #9d9e54;}
.npm{width: 15%; background-color: #da61cf;}
.nodejs{width: 15%; background-color: #82cf95;}
.nextjs{width: 15%; background-color: #8a72c2;}
.ionic{width: 15%; background-color: #ceda61;}
.php {width: 65%; background-color: #808080;}
.laravel {width: 20%; background-color: #c084e7;}
.sql{width: 30%; background-color: #64a084;}
.ads{width: 15%; background-color: #994d93;}
.tagManager{width: 15%; background-color: #6163da;}
.analytics{width: 15%; background-color: #ebcd6d;}

.spanish{width: 100%; background-color: #eea3a3;border-radius: 10px; }
.english{width: 70%; background-color: #82ad7f;}
.italian {width: 40%; background-color: #7ad2dd;}
.french{width: 30%; background-color: #5f9c5a;}

